
section,footer{
    border:1px solid red;
}

body{
    margin: 1rem;
}
header > div,nav{
    border:1px solid red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    column-gap: 1rem;
}

a {
    text-decoration:none;
}

.activity{
    display:flex;
    justify-content:space-evenly;
    position:relative;
}

img{
    max-width:100%;
    height:auto;
}

.activity__one,.activity__two,.activity__three {
    display: flex;
    flex-direction: column;
    position:relative;
    max-width:32rem;
    border: 1px solid red;
}