
section,footer{
    border:1px solid red;
}

section{
    margin: 1rem;
}
header > div,nav{
    border:1px solid red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    column-gap: 1rem;
}

a {
    text-decoration:none;
}

.activity{
    display:flex;
    justify-content:space-evenly;
}

img{
    width:100%;
    height:100%;
}
.activity >  div{
    position:relative;
    border:1px solid red ;
    max-height:16rem;
    max-width:32rem;
    border: 1px solid red;
}